.container{
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-todo{
    width: 50%;
    border: 2px solid #68bbec;
    border-radius: 4px;
    margin: 0px auto;
}

.header-todo{
    background: #35a4e5bf;
    padding: 10px;
    span{
        color: white;
        font-size: 29px;
    }
}

.body-todo{
    .input-todo{
        padding: 10px;
        border-bottom: 1px solid #c1c1c1;
    }

    .list-show-todo{
        overflow-y: auto;
        overflow-x: hidden;
    
        .item-todo{
            border-top: 1px solid #c1c1c1;
            padding: 10px;
            display: grid;
            grid-template-columns: 96% 4%;
            align-items: start;
            align-items: center;
            position: relative;

            &:first-child {
                border-top: none;
            }
            &:last-child {
                border-bottom: 1px solid #c1c1c1;
            }

            .content-todo{
                display: grid;
                width: 97%;
                grid-template-columns: 4% 96%;
                align-items: center;
                div.ms-1{
                    width: inherit;
                    word-wrap: break-word;
                    white-space: pre-wrap;
                }
            }

            .operation-button{
                .close{
                    box-sizing: content-box;
                    font-size: 22px;
                    line-height: 0;
                    padding: 0px 0px 2px 0px;
                    .icon-trash{
                        background-image: url('/trash.svg');
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-size: cover;
                        transition: all 0.4s;
                    }

                    .icon-trash:hover{
                        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                    }
                    .icon-trash:focus{
                        box-shadow: none;
                    }
                }

                .close:focus{
                    box-shadow: none;
                }

                .btn-edit-todo{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s;
                    position: absolute;
                    top: 0;
                    right: 34px;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    background: #68bbec;
                    border-top: 0;
                    transition: 0.5s all;
                    
                    .edit-todo{
                        padding: 0px 15px;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                    }
                }

                .btn-edit-todo:hover{
                    background: #4d8eb4;
                }
            }
        }

        .item-todo:hover{
            .btn-edit-todo{
                max-height: 40px;
            }
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
          
        &::-webkit-scrollbar-track {
            background: #c1c1c1; 
            border-bottom-right-radius: 4px 4px;
          }
    
        &::-webkit-scrollbar-thumb {
            background: #35a4e5bf; 
            border-bottom-right-radius: 4px 4px;
        }
          
        &::-webkit-scrollbar-thumb:hover {
            background: #226c97bf; 
        }

        .active{
            .content-todo{
                div.ms-1{
                    color: green;
                    text-decoration: line-through;
                }
            }
        }
    }
    
    nav{
        margin-top: 19px;
        display: flex;
        justify-content: center;

        .pagination{
            margin-bottom: 0;
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 912px) {
    .container-todo{
        width: 60%;
    }
}

@media only screen and (max-width: 540px) {
    .container-todo{
        width: 100%;
    }

    .list-show-todo{
        overflow-y: auto;
        overflow-x: hidden;
    
        .item-todo{
            grid-template-columns: 93% 7% !important;
            align-items: start;

            .content-todo{
                grid-template-columns: 7% 93% !important;
            }
        }
    }
}
